body {
	background-image: linear-gradient (red, blue)
}

.library {
	color: white;
	font-family: Permanent Marker; 
	font-size: 2.2vw; 
	font-stretch: 2em;
}

table {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px
}

div {
	color: white;
}